@charset "UTF-8";
@import "./../../common/common.scss";
.basic{
  display: flex;
}
.sidebar{
  z-index: 999;
  left: 0;
  top:0;
  transition: left 0.6s;
  @include respond-to(medium){
    background: #ffffff;
    left: -240px;
    position: fixed;
    height: 100%;
  }
  &>ul{
    position: relative;
    width: 240px;
    min-height: calc(100vh - #{$nav-height});
    height: 100%;
    @include respond-to(medium){
      padding-top: $nav-height;
    }
  }
  .sidebar-icon{
    background: url("./../../common/images/sidebar-icon.png");
    width: 64px;
    position: absolute;
    right: -64px;
    bottom: 0;
    height: 64px;
    cursor: pointer;
    display: none;
    @include respond-to(medium){
      display: block;
    }
  }


}
.basic-content{
  .Home{
    max-width: 1200px;
    margin: 0 auto;
  }
  background: #ffffff;
  width: 100%;
  @include respond-to(medium){
    padding: 5px;
  }
  padding: 25px;
}

@import "./../../common/common.scss";
.search-btn{
  margin-left: 10px;
}
.ant-popover-buttons button{
  @include respond-to(medium){
    margin-left: 2px;
  }
}
.line-clamp3{
  width: auto;

}
.operate-box{
  margin: 15px 0;
}
.line-edit{
  span{
    max-width: 400px;
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include respond-to(large){
      max-width: 200px;
    }
    @include respond-to(medium){
      max-width: 80px;
    }
  }
  .anticon-edit {
    cursor: pointer;
    vertical-align: text-top;
  }
}


.dynamic-delete-button{
  cursor: pointer;
  &:hover{
    color: red;
  }
}
.expandRowRender-box{
  position: relative;

  .expandRowRender-table {
    max-width: 600px;
    &>table tr td:first-child{
      text-align: right;
      vertical-align: top;
    }
    &>table  td{
      padding: 5px;
    }
  }
  .ant-table-body table{
    padding: 0;
    tr td:first-child{
      text-align: left;
    }
  }
  .expandRowRender-operate{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.addDeviceForm-title{
  text-align: center;
  margin-top: 10px;
}