@charset "UTF-8";
.organize-register{
  width: 500px;
  margin: 0 auto;
  .organize-register-title{
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    font-weight: bold;
  }
  .ant-input{
    font-weight: bold;
  }
  .ant-form-item-label{
    font-weight: bold;
  }
}