@charset "UTF-8";
@import "./../../common/common.scss";
body {
  min-height: 100vh;
  background:   #f5f5f5
}

.App {
  .header-nav{
    width: 100%;
    height: $nav-height;
    border-bottom: 1px solid #DADADA;
    position: relative;
    background: #ffffff;
    .header-nav-content{
      margin: 0 auto;
    }
    .logo-text{
      position: relative;
      left: 20px;
      display: inline-block;
      vertical-align: 32px;
      color: $theme-blue - 101;
      font-size: 20px;
      font-weight: 500;
      @include respond-to(medium){
        left: 0;
      }
    }
    .logo{
      display: inline-block;
      width: 180px;
      height: $nav-height;
      line-height: $nav-height;
      background: $theme-blue;
      P{
        color:white;
        font-size: 22px;
        text-align: center;
      }
    }
    .App-logo {
      position: relative;
      left: 20px;
      @include respond-to(medium){
        left: 0;
      }
      transform:rotateY(180deg);
      height: $nav-height+10px;
      width: $nav-height+10px;
    }
    .nav {
      vertical-align: top;
      display: inline-block;
      height:$nav-height;
      ul{
        margin-left: 20px;
        @include respond-to(medium){
          display: none;
          background: #ffffff;
          margin-left: 0;
          width: 100%;
          height: calc(100vh -  #{$nav-height}) ;
          position: absolute;
          left: 0;
          top: $nav-height;
          z-index: 10000;
        }
        li {
          height:$nav-height;
          line-height: $nav-height;
          text-align: center;
          display: inline-block;
          @include respond-to(medium){
            display: block;
            width: 100%;
          }
          &:hover{
            cursor: pointer;
            color: $theme-blue;
            a{
              color: $theme-blue;
            }
          }
          a{
            display: inline-block;
            padding: 0 20px;
            width: 100%;
            height: 100%;
            color:$nav-fontColor;
            &.actived {
              border-bottom: 3px solid $theme-blue;
            }
          }
        }
      }
      .menu-icon{
        padding-top: 12px;
        width: $nav-height / 2;
        height: $nav-height;
        display: none;
        @include respond-to(medium){
          display: inline-block;
          position: absolute;
          right: 135px;
        }
        span{
          display: block;
          width: 100%;
          height: 5px;
          border-radius:5px ;
          background: $theme-blue;
          margin-top: 5px ;
        }
      }
    }
    .loginOrRegisterBtn{
      display: inline-block;
      vertical-align: top;
      height: $nav-height;
      line-height: $nav-height;
      float: right;
      @include respond-to(medium){
      }
      span{
        cursor: pointer;
        color: $nav-fontColor;
        &:hover{
          color: $theme-blue;
        }
      }
      .username{
        position: relative;
        width: 120px;
        text-align: center;

        span{
          width: 100%;
          display: inline-block;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        .userSubMenu{
          z-index: 1000;
          background: #dddddd;
          position: absolute;
          left: 0;
          top: $nav-height;
          display: none;
          line-height: normal;
          width: 100%;
          li{
            border-top: 1px solid #eee;
            text-align: center;
            cursor: pointer;
            width: 100%;
            padding: 8px 10px;
            &:hover{
              color: $theme-blue;
            }
          }
        }
        &:hover .userSubMenu{
          display: block;
        }
      }
    }


  }

}


.Home{
  .home-info{
    position: relative;
    padding: 1em;
    max-width: 1400px;
    height: calc(100vh -  #{$nav-height}) ;
    margin: 0 auto;
    background: #fefefe;
    overflow: hidden;
  }
}
/*container div*/
.container{
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
