@charset "UTF-8";
.news-item{
  display: flex;
  margin-bottom: 10px;
  .news-con-img{
    flex: 0 0 80px;
    width: 60px;
    height: 60px;
  }
  .news-con-txt{
    flex: 1;
    margin-left: 20px;
  }
}